* {
    color:#aaaaaa;
    backdrop-filter: blur(10px);
    font-weight: 700;
    font-size: 1rem;
    flex-wrap: unset;
    justify-content: space-evenly;
}

.search-form input:checked {
    border: none;
    
}